<label for="<%= input_id %>">
  <%= label %>
</label>
<div class="controls">
 <textarea name="<%= input_name %>" style="<%= inputStyles %>" placeholder="<%= placeHolder %>"><%= input_value %></textarea>
  <% if(helperText) { %>
  <p class="helper-text help-block">
    <%= helperText %>
  </p>
  <% } %>
</div>
