!!!5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
%html.no-js
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    
    -# To set titles and descriptions globally and for each individual page, see /DOCS.md
    %title Better Backbone.js Apps with Luca 
    %meta{:content => page_description, :name => "description"}
    
    %meta{:content => "width=device-width", :name => "viewport"}
    
    = javascript_include_tag "vendor/modernizr-2.6.1.min"
    %link{:rel=>"stylesheet",:href=>"//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css"}
    %link{:rel=>"stylesheet",:href=>"//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css"}
    %link{:rel=>"stylesheet",:href=>"//datapimp.github.com/luca/vendor/assets/stylesheets/luca-ui.css"}
    = stylesheet_link_tag "site"
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid 
          %button.btn.btn-navbar{:type=>"button","data-toggle"=>"collapse","data-target"=>".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href=>"#"} Luca
          .nav-collapse.collapse
            %ul.nav
              %li.active
                %a.active{:href=>"#"} Home
              %li
                %a{:href=>"#docs"} Documentation
              %li
                %a{:href=>"#tutorials"} Tutorials
              %li
                %a{:href=>"#apps"} Sample Apps
              %li
                %a{:href=>"#components"} Component Library
              %li
                %a{:href=>"#source"} Browse Source

      .container-fluid
        = yield                

    %script{:type=>"text/javascript",:src=>"//datapimp.github.com/luca/vendor/assets/javascripts/luca-dependencies.min.js"}
    %script{:type=>"text/javascript",:src=>"//datapimp.github.com/luca/vendor/assets/javascripts/luca.min.js"}
    = javascript_include_tag "luca-framework-documentation"    
    = javascript_include_tag "dependencies"
    = javascript_include_tag "site"
