<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Luca. Container Framework For Backbone Views</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="<%= asset_path('luca-ui-bootstrap.css') %>">
    <link rel="stylesheet" href="<%= asset_path('luca-ui-development-tools.css') %>">
    <link rel="stylesheet" href="<%= asset_path('sandbox.css') %>">
    <link rel="stylesheet" href="<%= asset_path('prettify.css') %>">
  </head>
  <body>
    <div id="viewport"></div>

    <script src="<%= asset_path('dependencies.js') %>"></script>
    <script src="<%= asset_path('luca-ui-bootstrap.js') %>"></script>
    <script src="<%= asset_path('luca-ui.js') %>"></script>
    <script src="<%= asset_path('luca-ui-development-tools.js') %>"></script>
    <script src="<%= asset_path('sandbox.js') %>"></script>

  </body>
</html>
